body {
    background-color: black;
    color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 60px;
    width: 30vw;
    margin: auto;
    line-height: 2;
    text-decoration: underline;
}

.card {
    align-self: center;
    width: 50vw;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 5px solid antiquewhite;
}

h2 {
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
}

ol {
    text-align: left;
    font-size: x-large;
    line-height: 2;
}

ul {
    text-align: left;
    font-size: x-large;
    line-height: 2;
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}